.choices {
    background-color: black;
    color: white;
	margin: 10px 10px 10px 10px;
	height: 30%;
	width: 50%;
	margin: auto;
	
}
.choices:hover { 
    background-color: yellow;
}
/* need to do some on hover stuff */