<ul>
  {{#each burgers}}
  <li>
    <p>
      {{this.id}}. {{this.burger_name}}

      {{!-- <button data-movieid="{{this.id}}" class="delmovie">Delete Movie!</button> --}}
    </p>
  </li>
  {{/each}}
</ul>
<form class="create-form">

  <div class="form-group">
    <label for="burgerName">Burger Name:</label>
    <input type="text" id="burgerName" name="burgerName">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="true" checked> Yes!<br>
    <input type="radio" name="devoured" value="false"> No!
  </div>

  <button type="submit">Add a burger!</button>
</form>