<ul>
  {{#each burgers}}
  <li>
    <p>
      {{this.id}}. {{this.burger_name}}

      {{!-- <button data-movieid="{{this.id}}" class="delmovie">Delete Movie!</button> --}}
    </p>
  </li>
  {{/each}}
</ul>