.mainContent {
	
	opacity: 0.9;
	background-color: #f5f5f5;
	line-height: 1.5em;
	font-size: 20px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #262626;
}

.nav-bar-custom {
	background-color: #262626;
	border-bottom: 5px solid #3f3f3f;
}

.topcolumn {
	margin-top: 30px;
}

.customCard{
	background-color: #f5f5f5;
	margin-bottom: 20px;
}

#overlapFix {
	margin-left: 10px;
	margin-right: 10px;
}
.icon {
	width: 30px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
	margin-bottom: 2px;
}
/* .left {
	margin-left: 15px;
	margin-right: -15px;
	color: white;
}
.right{
	margin-left: -15px;
	margin-right: 15px;
	color: white;
} */

.customMenu {
	/* margin-top: 5px; */
	margin-right: 5px;
	margin-left: 5px;
	padding: 5px;
}

.customMenu:hover {
	background-color: #3f3f3f;
	color: white;
	text-decoration: none;
}
.customMenuBuffer {
	margin-top: 10px;

}

.iconDiv:hover { 
	background-color: #3f3f3f;
	
}


/* the classes .nav-bar-logo and .nav-bar-push aligns things nicely at full screen but breaks when the screen resizes */
.nav-bar-logo {
	background-color: #262626;
	color: #f5f5f5;
	font-size: 24px;
	height: 100%;
	padding: 12.5px;
	text-decoration: none;
	
	

	/*to push everything to line up I have been using the px code below
	/*margin-left: 365px;*/
	/*margin-left: 17%; */
}
.nav-bar-logo:hover {
	background-color: #f5f5f5;
	color: #262626;
	text-decoration: none;
}



.bottomcolumn {
	margin-bottom: 50px;
}

.custom-footer {
	background-color: #262626;
	border-top: solid 5px #dcdcdc;
	text-align: center;
	color: #dddddd;
	height: 40px;
	bottom: 0px;
	position: fixed;
	width: 100%;
	
/*	position:absolute;
	bottom:0;*/
		
	 
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}
 
.nav-bar-push a {
	text-decoration: none;
	color: #262626;
}

.buffer {
	margin-top: 10px;
	margin-bottom: 10px;
}
body {
	background-color: rgba(221,221,221,0.9);
	background: url(../images/spiration-dark.png) top left repeat;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #262626;
}

html {
	background: url(../images/spiration-dark.png) top left repeat;	
	background-position: top left;
	}


#indexPictureandText {
	margin-top: 30px;
 /*	height: 600px; */
}

.MainAboutMe {
	color: #262626;
	font-size: 24px;
	height: 50px;
	padding-top: 15px;
	/* border-bottom: 2px solid  #f5f5f5; */
	border-bottom: 5px solid #3f3f3f;
}
.custom-btn {
	background-color: #262626;
	color:  #f5f5f5;
}

input {
	width: 90%;
}

textarea {
	height: 300px;
	width: 100%;
}

.submitbutton {
	height: 35px;
	width: 95px;
	background-color:  #262626;
	color: #f5f5f5;
	padding: 0;
	border: none;
	font-size: 15px;
	
}

/* the below code I found here: https://gist.github.com/petehouston/85dd33210c0764eeae55 and added some style to the caption */

.thumbnail {
    position: relative;
	margin: 30px;
}

.caption {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
	background-color: #dcdcdc;
	color: #f5f5f5;
}

