.character {
    height: 170px;
    width: 150px;
    float: left;
    text-align: center;
    margin: 10px 10px 10px 10px;
    background-color: #D3D3D3;	
    border: 1px solid black;
    font-size: 28px;
}

.character img {
    height: 130px;
    width: auto;
    border: 1px solid black;
   
}

.fighterStats {
    font-size: 16px;
}
/* 
.fighter1 {
    background-color: red;
}

.fighter2 {
    background-color: lightblue;
}

.fighter3 {
  
    background-color: yellow;
   
}

.fighter4 {
    background-color: green;
} */

.hero {
    background-color: white;
}

.currentEnemy {
    background-color:black;
    color: white;
}

.group:after {
    content: "";
    display: table;
    clear: both;
  }

p {
    font-size: 20px;
    font-weight: 600;
}

.dead {
    display:none;
}

.newClass {
    color: white;
}

.fighterImage {
    position: relative;
    margin: auto;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
} 

.fightDisplay {
    color: white;  
    font-size: 20px;
}
#enemiesToSelect div {
    background-color: rgb(126, 5, 29)
}
