.mainContent {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	
	margin-top: 30px;
	margin-bottom: 30px;
	/* height: 700px; */
	padding: 10px; 
	line-height: 1.5em;
	font-size: 20px;
	/* note: I'm making the assumpition that the padding on the left and right should be included in the 960 px calculation. So I am reducing the width to 940 to account for the addtional 10px on each side (total 20px) to make this section 960px*/
}

div {
	width: 940px;
	margin-left: auto;
	margin-right: auto;

	
}

header div {
	width: 960px;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}
 
a {
	text-decoration: none;
	color: #777777;
}

header {
	background-color: #ffffff;
	height: 75px;
	border-bottom: 5px solid #cccccc;
	
}
body {
	/* background-color: rgba(221,221,221,0.5); */
	/* background-image: url("../images/what-the-hex.png");
	background-repeat: repeat;	 */
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-color: yellow;

}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;

}

html {

	/* background: url(../images/what-the-hex.png) top left repeat;
	
	background-position: top left; */
	
	
	}

/* .opacity {
	background-color: #dddddd;
} */

#PictureandText {
	margin-top: 30px;

}

#indexPictureandText {
	margin-top: 30px;
 /*	height: 600px; */
}

.imgheadshot {
	width: 150px;
	height: auto;
	float: left;
	padding: 5px;
	
}


.name {
	float: left;
	/*margin-left: auto; */
	color: #ffffff;
	background-color: #4aaaa5;
	height: 50px;
	font-size: 24px;
	padding-top: 25px;
	padding-right: 15px;
	padding-left: 15px;
	
	/*border-left: 10px solid  #4aaaa5;
	border-right: 10px solid  #4aaaa5; */
}
.headerlinks {
	float: right;
	font-size: 15px;
	padding-top: 30px;
	color: #cccccc;
}
.MainAboutMe {
	color: #4aaaa5;
	font-size: 24px;
	height: 50px;
	padding-right: 10px;
	padding-top: 10px;
	border-bottom: 2px solid #dddddd;
}
footer {	
	background-color: #666666;	
	height: 40px;
	border-top: solid 5px #4aaaa5;
	text-align: center;
	color: #dddddd;
	padding-top: 15px;
	width: 100%;
	/*below is for fixed footer */

	/*position: absolute;
	left: 0;
	bottom: 0; */

	/* below is for "sticky footer */

	position: -webkit-sticky;
    position: sticky;
	left:0;
	bottom: 0;
  
	

}

footer div p {
	padding-top: 15px;
}


form {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

input {
	width: 940px;
	
}

textarea {
	width: 940px;
	height: 300px;
}

.submitbutton {
	height: 35px;
	width: 95px;
	background-color:  #4aaaa5;
	color: #ffffff;
	padding: 0;
	border: none;
	font-size: 15px;
	
}


/* .container {
	position: relative;
    text-align: left;
    color: white;
} */

.portfolioStyle {
	overflow:hidden;
}
.imgportfolio {
	width: 350px;
	height: auto;
	/* padding: 20px; */
}


.work {
  float: left;
  max-width:400px;
  width: 45%;
  /* margin: 20px 0 25px; */
  overflow: auto;
}

.piclabel {
	position: relative;
	font-size: 20px;
	color: #ffffff;
	background-color: #4aaaa5;
	width: 350px;
	text-align: center;
	height: 35px;
	padding-top: 10px;
	bottom: 100px;
	left: 0px;
}



@media screen and (max-width: 980px) {
	header {
		width: 100%;
	}
	body {
		background-color: blue;
			/* overflow used to get rid of stupid horizontal scroll bar */
		overflow-x: hidden;
	
	}
	.container {
		max-width: 768px;
	}
	.mainContent  {
		max-width: 620px;
		position: relative;
		margin-left: 3%;
	}
	.headerlinks {
		padding-right: 30px;
	}

	.MainAboutMe {
		max-width: 600px;
	}
	.indexPictureandText, p {
		max-width: 600px;
	}
	footer {
		width:100%;
		text-align: center;
	}
	
	footer p {
		margin-right: 384px; 
	}
	/* .name {
		max-margin-left: 3%;
	} */
		
	/* .headerlinks {
		position: relative;
		/* use to have this as margin-left: -400px; but the float right seems to work better 
		
		margin-left: 20%;

	}	 */
	.name {
		position: relative;
		margin-left: 3%;
	}
	
	textarea {
		width: 400px;
	}
	
	input {
		width: 390px;
	}

	/* footer {
		width: 100%; 	
	} */

	.imgportfolio {
		width: 250px;
		height: auto;
		padding: 20px;
	}

	.piclabel {
		width: 250px;
		left: 20px; 	
	}

	}

@media screen and (max-width: 768px) {
	
	body {
		background-color: red;
	}
	.mainContent {
	
	margin-left: auto;
	margin-right: auto;
	width: 95%%
	}

	.imgheadshot {
		width: 200px;
		height: auto;
	}
	.container {
		max-width: 600px;
	}

	.MainAboutMe, .indexPictureandText, p {
		max-width: 580px;
	}
	
	textarea {
		width: 520px;
	}
	
	input {
		width: 470px;
	}

	.imgportfolio {
		width: 230px;
		height: auto;
		padding: 20px;
	}

	.piclabel {
		width: 230px;
		left: 20px; 
		font-size: 16px;	
		height: 25px;
		padding-bottom: 5px;
	}
	
}

@media screen and (max-width: 640px) {
	.name {
		width: 100%;
		margin: 0px;
		text-align: left;
		border-left: solid 15px #4aaaa5;
	}

	container {
		/* width: 90%; */
		max-width: 440px;
	
	}

	.imgheadshot{
		width: 95%;
		max-width: 430px;

	}
 	.mainContent, .MainAboutMe {
		max-width: 430px;
	}
	.mainContent {
		margin-top: 130px;
	}
	/*.MainAboutMe {
		width: 90%;
		max-width: 430px;
	} */
	
	textarea {
		width: 400px;
	}
	input {
		width: 350px;
	}
	
	.headerlinks{
	/*	width: 640px;*/
		width: 100%;
		text-align: center;
		position: relative;
		bottom: 0;
		background-color: #ffffff;
		padding-top: 20px;
		padding-bottom: 30px;
		padding-right: 200px;
		
		
	}
	 p {
		max-width: 430px;
	}
	
	body {
		background-color: green;
	}
	
	header {
		position: relative;
		width: 100%;
	}

	.work {
		float:none;
		margin-left: 0px;
		margin-right: 0px;
		width: 90%;
		
	}
	.portfolioStyle {
		width: 600px;
	}
	.imgportfolio {
	
		width: 360px;
		height: auto;
		padding: 20px;
		
	}
	.indexPictureandText {
		width: 400px;
	}
	.piclabel {
		width: 360px;
		left: 20px; 
		font-size: 16px;	
		height: 25px;
		padding-bottom: 5px;
	}
}
